<div class="container mt-5">
  <h1>New restaurant</h1>

  <%= render "form", restaurant: @restaurant %>

  <br>

  <div class="ml-2">
    <%= link_to "Back to restaurants", restaurants_path %>
  </div>
</div>